<div class="container flex-col align-center">
  <div class="ad">
    <img src="assets/ad.png" alt="ad" />
  </div>
  <div class="steps-wrapper rounded-md">
    <div class="steps flex justify-around mt-10 rounded-md">
      <div class="rounded-md flex items-center justify-start gap-x-2 slots">
        <img src="assets/slots-machine.png" />
        <p>{{ "Header.Slots" | translate }}</p>
      </div>
      <div class="rounded-md flex items-center justify-start gap-x-2">
        <img src="assets/polygon.png" />
        <p>{{ "Header.Cashback" | translate }}</p>
      </div>
      <div class="rounded-md flex items-center justify-start gap-x-2 coins">
        <img src="assets/coin-stack.png" />
        <p>{{ "Header.MoneyBack" | translate }}</p>
      </div>
    </div>
  </div>
</div>
