<div class="container">
  <ul class="flex justify-between py-2">
    <li><img src="assets/logo.png" alt="betlive logo" class="logo p-2" /></li>
    <li>
      <div class="rounded-lg bg-gray p-2 lang-container">
        <button
          type="button"
          class="block not-selected"
          [ngClass]="{
            selected: selectedLang == 'ka',
            'not-selected': selectedLang != 'ka'
          }"
          (click)="toggleLanguage('ka')"
        >
          <img src="assets/ka.png" alt="georgian flag" class="flag" />
        </button>

        <button
          type="button"
          class="block selected"
          [ngClass]="{
            selected: selectedLang == 'en',
            'not-selected': selectedLang != 'en'
          }"
          (click)="toggleLanguage('en')"
        >
          <img src="assets/uk.png" alt="georgian flag" class="flag" />
        </button>
      </div>
    </li>
  </ul>
</div>
