<div class="container">
  <img src="assets/lucha.png" />
  <div class="offer-wrapper rounded">
    <div class="offer-header">
      <p>
        {{ "Rules.HeaderPrimary" | translate }}
        <span>{{ "Rules.HeaderGolden" | translate }}</span>
        {{ "Rules.HeaderPrimary2" | translate }}
      </p>
      <p>{{ "Rules.Header2" | translate }}</p>
    </div>
    <div class="flex justify-around mt-6 offer-body">
      <div class="slot-card flex flex-col gap-y-4 rounded">
        <div>
          <p>{{ "Rules.Card1" | translate }}</p>
        </div>
        <div>250 ₾</div>
      </div>
      <div class="equal flex items-center">
        <p>=</p>
      </div>
      <div class="cashback-card rounded flex flex-col gap-y-4">
        <div>+1%</div>
        <div>
          <p>{{ "Rules.Card2" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="offer-info rounded flex justify-center">
    <div class="info-logo flex items-center">
      <img src="assets/info.png" alt="">
    </div>
    <div class="info-txt">
      <p class="mb-4">{{ "Rules.InfoHeader" | translate }}</p>
      <p>{{ "Rules.InfoTxt" | translate }}</p>
    </div>
  </div>
</div>
